# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Backend
PORT=4000
DATABASE_URL="file:./dev.db"
SWEETBOOK_API_KEY=your_sandbox_api_key_here
VERCEL_BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_here

